* {
  font-family: 'Red Hat Display', sans-serif;
  max-width: none !important;
}

body {
  background-color: #ffefd6 !important;
}

a[href="https://github.com/YaneUlly"]
{
  color: #f08229 !important;
  font-weight: 600;
}

a[href='/howtotaste'] {
  font-weight: 600;
}

a[href='/coffeequiz'] {
  font-weight: 600;
}

a[href='/coffeehub'] {
  font-weight: 600;
}

a[href='/coffeehistory'] {
  font-weight: 600;
}

a[href='/coffeetaste'] {
  font-weight: 600;
}

.css-onkibi {
  color: #0b0b03;
}

.css-14jo675:active,
.css-14jo675[data-active] {
  background: #0b0b03 !important;
}

.css-14jo675:hover,
.css-14jo675[data-hover] {
  background: #0b0b03 !important;
}

.form {
  width: 60%;
}

.custom-file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.custom-file-button {
  background-color: #a1541e;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-button:hover {
  background-color: #0b0b03;
}

.custom-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
