#root {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden !important;
}

.main-content {
  min-height: calc(100vh - (82px + 76px));
  /* Por exemplo: */
  min-height: calc(
    100vh - 100px - 80px
  ); /* Ajuste as alturas conforme necessário */
}
